/* REVISED ON 09-27-2023 */
/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
}

/* CARD */
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 25%);
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    width: 285px;
}

#qr-code-img {
    border-radius: 10px;
    width: 100%;
}

.card h1 {
    font-size: 1.25rem;
}

.card p {
    color: hsl(220, 15%, 55%);
    font-size: 0.875rem;
    padding: 0 5px;
}

/* ATTRIBUTION */
.attribution {
    font-size: 12px;
    text-align: center;
    margin: 16px 0;
}

.attribution p {
    margin: 5px 0;
}

.attribution a {
    color: #2c7dfa;
    text-decoration: none;
}